In [1]:
import pandas as pd

In [2]:
accidents_df = pd.read_csv("accident.csv",low_memory=False)

In [5]:
accidents_df = accidents_df.rename(
    columns={'ST_CASE':'case_id', 'LONGITUD':'longitude',
             'DRUNK_DR':'drunk_drivers', 'FATALS':'fatalities'})
accidents_df.columns = accidents_df.columns.str.lower()
accidents_df['date'] = pd.to_datetime(accidents_df[['day', 'month', 'year']])
accidents_df = accidents_df[['case_id', 'date', 'state', 'latitude', 'longitude',
                             'drunk_drivers', 'fatalities']].sort_values('date')

In [9]:
states = {1: 'Alabama', 2: 'Alaska', 4: 'Arizona', 5: 'Arkansas', 
          6: 'California', 8: 'Colorado', 9: 'Connecticut', 10: 'Delaware', 
          11: 'District of Columbia', 12: 'Florida', 13: 'Georgia', 15: 'Hawaii', 
          16: 'Idaho', 17: 'Illinois', 18: 'Indiana', 19: 'Iowa', 20: 'Kansas', 
          21: 'Kentucky', 22: 'Louisiana', 23: 'Maine', 24: 'Maryland', 
          25: 'Massachusetts', 26: 'Michigan', 27: 'Minnesota', 
          28: 'Mississippi', 29: 'Missouri', 30: 'Montana', 31: 'Nebraska', 
          32: 'Nevada', 33: 'New Hampshire', 34: 'New Jersey', 35: 'New Mexico', 
          36: 'New York', 37: 'North Carolina', 38: 'North Dakota', 39: 'Ohio', 
          40: 'Oklahoma', 41: 'Oregon', 42: 'Pennsylvania', 43: 'Puerto Rico', 
          44: 'Rhode Island', 45: 'South Carolina', 46: 'South Dakota', 47: 'Tennessee', 
          48: 'Texas', 49: 'Utah', 50: 'Vermont', 51: 'Virginia', 52: 'Virgin Islands', 
          53: 'Washington', 54: 'West Virginia', 55: 'Wisconsin', 56: 'Wyoming'}

accidents_df['State']=accidents_df['state'].apply(lambda x:states[x])

In [10]:
accidents_df.columns

Index(['case_id', 'date', 'state', 'latitude', 'longitude', 'drunk_drivers',
       'fatalities', 'State'],
      dtype='object')

In [12]:
accidents_df

,case_id,date,state,latitude,longitude,drunk_drivers,fatalities,State
0,10001,2016-01-01,1,33.426458,-86.819731,1,1,Alabama
9644,130006,2016-01-01,13,34.062319,-83.926883,1,1,Georgia
2748,60381,2016-01-01,6,38.211733,-122.144806,0,1,California
19995,340006,2016-01-01,34,40.421111,-74.528842,0,1,New Jersey
9643,130005,2016-01-01,13,34.146111,-83.943161,1,2,Georgia
9642,130004,2016-01-01,13,31.863611,-81.769889,0,1,Georgia
9641,130003,2016-01-01,13,34.221036,-83.902667,0,1,Georgia
6294,90013,2016-01-01,9,41.544531,-72.771786,0,1,Connecticut
9640,130002,2016-01-01,13,32.345200,-82.250550,0,1,Georgia
9639,130001,2016-01-01,13,33.757019,-84.468747,0,1,Georgia
27527,460001,2016-01-01,46,44.047528,-103.131203,1,1,South Dakota
33545,540001,2016-01-01,54,38.108611,-81.849439,0,1,West Virginia
27637,470008,2016-01-01,47,36.273489,-86.718300,0,1,Tennessee
9645,130007,2016-01-01,13,32.561339,-84.823906,0,1,Georgia
27649,470020,2016-01-01,47,36.096439,-86.877411,0,1,Tennessee
6747,120044,2016-01-01,12,30.324581,-81.523061,0,1,Florida
27650,470021,2016-01-01,47,35.113694,-89.869622,1,1,Tennessee
30189,481651,2016-01-01,48,32.877500,-96.515700,0,1,Texas
14764,220095,2016-01-01,22,29.958339,-90.061369,0,1,Louisiana
2470,60103,2016-01-01,6,33.127669,-117.102442,0,1,California
2439,60072,2016-01-01,6,32.618761,-117.091611,1,1,California
213,10214,2016-01-01,1,34.676647,-85.781961,1,1,Alabama
19569,320013,2016-01-01,32,39.552364,-119.812106,0,1,Nevada
28596,480001,2016-01-01,48,33.082319,-96.800636,1,1,Texas
28597,480002,2016-01-01,48,33.162558,-95.161889,0,2,Texas
28598,480003,2016-01-01,48,29.713794,-95.502939,1,1,Texas
28599,480004,2016-01-01,48,35.805528,-102.350936,1,1,Texas
25511,420057,2016-01-01,42,40.600856,-79.400097,0,1,Pennsylvania
28600,480005,2016-01-01,48,30.117078,-94.008322,0,1,Texas
2801,60434,2016-01-01,6,33.923719,-118.339592,1,1,California
...,...,...,...,...,...,...,...,...
14651,210745,2016-12-31,21,37.745611,-83.197486,0,1,Kentucky
31958,483457,2016-12-31,48,32.828322,-96.621689,0,1,Texas
31957,483456,2016-12-31,48,31.037481,-104.841561,0,1,Texas
18315,280630,2016-12-31,28,32.726439,-88.992833,0,1,Mississippi
5342,63014,2016-12-31,6,37.946300,-121.300122,1,1,California
4428,62097,2016-12-31,6,34.426594,-117.520908,1,1,California
31903,483400,2016-12-31,48,32.726769,-96.484356,0,1,Texas
20541,340558,2016-12-31,34,40.793319,-74.248750,0,1,New Jersey
20536,340553,2016-12-31,34,39.986361,-75.020383,1,1,New Jersey
31905,483402,2016-12-31,48,32.804747,-97.500775,1,1,Texas
5142,62814,2016-12-31,6,37.964358,-121.335642,0,1,California
5717,63391,2016-12-31,6,33.924519,-117.439094,1,1,California
13902,200378,2016-12-31,20,39.005517,-97.873222,1,1,Kansas
16356,250363,2016-12-31,25,42.287683,-71.106775,0,1,Massachusetts
31927,483425,2016-12-31,48,30.987961,-97.465111,0,1,Texas
5721,63395,2016-12-31,6,37.926997,-121.292994,0,1,California
31928,483426,2016-12-31,48,32.759331,-96.825739,0,1,Texas
5722,63396,2016-12-31,6,34.071089,-117.881328,0,1,California
5723,63397,2016-12-31,6,34.572669,-118.098325,0,1,California
5308,62980,2016-12-31,6,34.059300,-118.257125,0,1,California
31929,483427,2016-12-31,48,31.629731,-96.151689,0,1,Texas
31930,483428,2016-12-31,48,32.457053,-97.802372,1,1,Texas
31931,483429,2016-12-31,48,30.086850,-96.915431,0,2,Texas
31932,483430,2016-12-31,48,32.456450,-95.804500,1,1,Texas
5257,62929,2016-12-31,6,33.903342,-118.221486,0,1,California
31942,483441,2016-12-31,48,29.532325,-95.860206,0,2,Texas
33003,510691,2016-12-31,51,36.659947,-79.875161,0,1,Virginia
33008,510696,2016-12-31,51,36.707417,-77.561628,0,1,Virginia
34335,550545,2016-12-31,55,43.568325,-89.765031,0,1,Wisconsin
21850,360938,2016-12-31,36,40.762839,-73.090753,1,1,New York

In [11]:
accidents_df['State'].value_counts().to_frame()

                      State
Texas                  3407
California             3357
Florida                2933
Georgia                1422
North Carolina         1348
Pennsylvania           1088
Ohio                   1053
Illinois               1003
Michigan                980
Tennessee               966
New York                965
Alabama                 937
South Carolina          936
Missouri                868
Arizona                 865
Indiana                 768
Kentucky                763
Virginia                722
Louisiana               704
Mississippi             628
Oklahoma                624
New Jersey              569
Colorado                558
Wisconsin               544
Washington              504
Arkansas                488
Maryland                472
Oregon                  446
Kansas                  381
Massachusetts           359
New Mexico              358
Minnesota               357
Iowa                    356
Nevada                  303
Connecticut             281
Utah                    259
West Virginia           250
Idaho                   232
Nebraska                194
Montana                 171
Maine                   151
New Hampshire           130
Delaware                116
Hawaii                  109
South Dakota            103
North Dakota            102
Wyoming                 100
Alaska                   78
Vermont                  57
Rhode Island             48
District of Columbia     26

In [7]:
distract = {0: 'Not Distracted', 1: 'Looked But Did Not See',
           3: 'By Other Occupant(s)', 4: 'By a Moving Object in Vehicle',
           5: 'While Talking or Listening to Cellular Phone',
           6: 'While Manipulating Cellular Phone',
           7: 'While Adjusting Audio or Climate Controls',
           9: 'While Using Other Component/Controls Integral to Vehicle',
           10: 'While Using or Reaching For Device/Object Brought Into Vehicle',
           12: 'Distracted by Outside Person, Object or Event',
           13: 'Eating or Drinking',
           14: 'Smoking Related',
           15: 'Other Cellular Phone Related',
           16: 'No Driver Present/Unknown if Driver Present',
           17: 'Distraction/Inattention',
           18: 'Distraction/Careless',
           19: 'Careless/Inattentive',
           92: 'Distraction (Distracted), Details Unknown',
           93: 'Inattention (Inattentive), Details Unknown',
           96: 'Not Reported',
           97: 'Lost In Thought/Day Dreaming',
           98: 'Other Distraction',
           99: 'Unknown if Distracted'}

accidents_df['mdrdstrd'] = accidents_df['MDRDSTRD'].apply(lambda x:distract[x])

KeyError: 'MDRDSTRD'

In [14]:
accidents_df.to_csv("cleaned_accidents_data.csv")