# Database Engineering

In [1]:
# Read in dependencies
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Date

In [2]:
# Create an engine to a SQLite database called 'wine.sqlite'
engine = create_engine("sqlite:///merged_data_2.sqlite")

In [3]:
# Create a connection to the engine
conn = engine.connect()

## Creating Table

In [6]:
# Use declarative_base to model the measurements 
Base = declarative_base()


class traffic(Base):
    __tablename__ = 'traffic'

    id = Column(Integer, primary_key=True)
    State = Column(Text)
    Fatalities_Rate_Per_100_Million = Column(Integer)
    Failure_To_Obey = Column(Integer)
    Careless_Driving = Column(Integer)
    Drunk_Driving = Column(Integer)
    Speeding = Column(Integer)
    Total_Score = Column(Integer)
    Ranking_2017 = Column(Integer)
    Population = Column(Integer)
    Vehicle_Miles_Traveled = Column(Integer)
    Fatal_Crashes=Column(Integer)
    Deaths = Column(Integer)
    Deaths_Per_Hunderd_Thousand = Column(Float)
    Deaths_Per_Hundred_Million_Miles_Traveled = Column(Float)

In [7]:
# Create the Reviews table in the database
Base.metadata.create_all(engine)

In [9]:
# Load the cleaned csv file 
df = pd.read_csv("Merged_Drivers_Data.csv", index_col=0, encoding='utf-8')
df.head(2)

,Fatalities_Rate_Per_100_Million,Failure_To_Obey,Careless_Driving,Drunk_Driving,Speeding,Total_Score,Ranking_2017,Population,Vehicle_Miles_Traveled,Fatal_Crashes,Deaths,Deaths_Per_Hunderd_Thousand,Deaths_Per_Hundred_Million_Miles_Traveled
State,,,,,,,,,,,,,
Alabama,34,38,42,19,26,159,41,4863300,69553,937,1038,21.3,1.49
Alaska,36,8,25,24,35,128,25,741894,5030,78,84,11.3,1.67

In [10]:
# Change wine_df to a dictionary
# orient='records' makes the dictionary list-like [{column -> value}]
data_reviews = df.to_dict(orient='records')

In [11]:
# Data is now a list of dictionaries that represent each row of data.
data_reviews[0]

{'Careless_Driving': 42.0,
 'Deaths': 1038.0,
 'Deaths_Per_Hunderd_Thousand': 21.300000000000001,
 'Deaths_Per_Hundred_Million_Miles_Traveled': 1.49,
 'Drunk_Driving': 19.0,
 'Failure_To_Obey': 38.0,
 'Fatal_Crashes': 937.0,
 'Fatalities_Rate_Per_100_Million': 34.0,
 'Population': 4863300.0,
 'Ranking_2017': 41.0,
 'Speeding': 26.0,
 'Total_Score': 159.0,
 'Vehicle_Miles_Traveled': 69553.0}

In [12]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [13]:
# Save the referenct to the 'reviews' table
reviews_table = sqlalchemy.Table('reviews', metadata, autoload=True)

In [14]:
# Delete any pre-existing table
# DO NOT USE STEP IN PRODUCTION
conn.execute(reviews_table.delete())

In [15]:
# Insert data into the table
conn.execute(reviews_table.insert(), data_reviews)

In [16]:
# Test the first 5 rows
conn.execute('SELECT * FROM reviews LIMIT 5').fetchall()

[(1, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (2, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (3, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (4, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (5, None, None, None, None, None, None, None, None, None, None, None, None, None)]