In [15]:
import pandas as pd
import numpy as np
import os
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [2]:
merged_driver_data = pd.read_csv("./Merged_Drivers_Data.csv")

In [3]:
>>> merged_driver_data['State'].astype("str")
merged_driver_data.dtypes

State                                         object
Fatalities_Rate_Per_100_Million                int64
Failure_To_Obey                                int64
Careless_Driving                               int64
Drunk_Driving                                  int64
Speeding                                       int64
Total_Score                                    int64
Ranking_2017                                   int64
Population                                     int64
Vehicle_Miles_Traveled                         int64
Fatal_Crashes                                  int64
Deaths                                         int64
Deaths_Per_Hunderd_Thousand                  float64
Deaths_Per_Hundred_Million_Miles_Traveled    float64
dtype: object

In [4]:
merged_driver_data.head()

,State,Fatalities_Rate_Per_100_Million,Failure_To_Obey,Careless_Driving,Drunk_Driving,Speeding,Total_Score,Ranking_2017,Population,Vehicle_Miles_Traveled,Fatal_Crashes,Deaths,Deaths_Per_Hunderd_Thousand,Deaths_Per_Hundred_Million_Miles_Traveled
0,Alabama,34,38,42,19,26,159,41,4863300,69553,937,1038,21.3,1.49
1,Alaska,36,8,25,24,35,128,25,741894,5030,78,84,11.3,1.67
2,Arizona,42,45,46,36,37,206,50,6931071,66859,865,962,13.9,1.44
3,Arkansas,47,30,24,22,6,129,26,2988248,36093,488,545,18.2,1.51
4,California,15,35,43,27,29,149,35,39250017,366402,3357,3623,9.2,0.99

In [5]:

data=merged_driver_data.to_dict(orient='records')
data[0]

{'Careless_Driving': 42,
 'Deaths': 1038,
 'Deaths_Per_Hunderd_Thousand': 21.3,
 'Deaths_Per_Hundred_Million_Miles_Traveled': 1.49,
 'Drunk_Driving': 19,
 'Failure_To_Obey': 38,
 'Fatal_Crashes': 937,
 'Fatalities_Rate_Per_100_Million': 34,
 'Population': 4863300,
 'Ranking_2017': 41,
 'Speeding': 26,
 'State': 'Alabama',
 'Total_Score': 159,
 'Vehicle_Miles_Traveled': 69553}

In [28]:
engine = create_engine("sqlite:///traffic.sqlite")
Session = sessionmaker(bind=engine)
conn = engine.connect()
Base = declarative_base()

class traffic(Base):
    __tablename__ = 'traffic'

    id = Column(Integer, primary_key=True)
    State = Column(String)
    Fatalities_Rate_Per_100_Million = Column(Integer)
    Failure_To_Obey = Column(Integer)
    Careless_Driving = Column(Integer)
    Drunk_Driving = Column(Integer)
    Speeding = Column(Integer)
    Total_Score = Column(Integer)
    Ranking_2017 = Column(Integer)
    Population = Column(Integer)
    Vehicle_Miles_Traveled = Column(Integer)
    Fatal_Crashes=Column(Integer)
    Deaths = Column(Integer)
    Deaths_Per_Hunderd_Thousand = Column(Float)
    Deaths_Per_Hundred_Million_Miles_Traveled = Column(Float)

#    def __repr__(self):
#       return f"id={self.id}, name={self.__tablename__}"

Base.metadata.create_all(engine)
session = Session()

In [29]:
metadata = MetaData(bind=engine)
metadata.reflect()

table= sqlalchemy.Table('traffic',metadata,autoload=True)

In [44]:
session.execute(table.delete())

In [45]:
objs_to_add = []
for i,row in enumerate(data):
    objs_to_add.append(traffic(id=i, State=row["State"]))

session.bulk_save_objects(objs_to_add)

In [46]:
session.execute("select * from traffic").fetchall()

[(0, 'Alabama', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (1, 'Alaska', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (2, 'Arizona', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (3, 'Arkansas', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (4, 'California', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (5, 'Colorado', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (6, 'Connecticut', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (7, 'Delaware', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (8, 'District of Columbia', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (9, 'Florida', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (10, 'Georgia', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (11, 'Hawaii', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (12, 'Idaho', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (13, 'Illinois', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (14, 'Indiana', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (15, 'Iowa', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (16, 'Kansas', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (17, 'Kentucky', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (18, 'Louisiana', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (19, 'Maine', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (20, 'Maryland', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (21, 'Massachusetts', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (22, 'Michigan', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (23, 'Minnesota', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (24, 'Mississippi', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (25, 'Missouri', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (26, 'Montana', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (27, 'Nebraska', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (28, 'Nevada', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (29, 'New Hampshire', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (30, 'New Jersey', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (31, 'New Mexico', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (32, 'New York', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (33, 'North Carolina', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (34, 'North Dakota', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (35, 'Ohio', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (36, 'Oklahoma', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (37, 'Oregon', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (38, 'Pennsylvania', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (39, 'Rhode Island', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (40, 'South Carolina', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (41, 'South Dakota', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (42, 'Tennessee', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (43, 'Texas', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (44, 'Utah', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (45, 'Vermont', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (46, 'Virginia', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (47, 'Washington', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (48, 'West Virginia', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (49, 'Wisconsin', None, None, None, None, None, None, None, None, None, None, None, None, None),
 (50, 'Wyoming', None, None, None, None, None, None, None, None, None, None, None, None, None)]